<nav>
    <div class="site-title">
        <a href="/"><h1>Singhblog</h1></a>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About page</a></li>
        <li><a href="/blogs/create">New Blog</a></li>

    </ul>
</nav>