<html>
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav') %>

    <div class="not-found content">
        OOPS, Page Not Found!!
    </div>
 
    <%- include('./partials/footer.ejs') %>
</body>
</html>