<html>
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Welcome to our blog! In this Node.js tutorial, we'll explore view engines.</p>
        <p>View engines are an essential component of web development, allowing us to dynamically generate HTML content.</p>
        <p>Throughout this tutorial, we'll delve into various view engines, their features, and how to integrate them into our Node.js applications.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
